@model IEnumerable<SistemaVendas.ViewModels.EmployeeViewModel>


<h2>Employees</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Info: </strong>@TempData["InfoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            
        </button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success: </strong>@TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
           
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
        <div class="alert alert-danger">
        <strong>Error: </strong>@TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
           
        </button>
    </div>
}


<div class="container">
    <form asp-action="ListEmployee">
        <div class="col-md-12">
            <div class="row">

                <div class="col py-3 px-lg-10">
                    <div class="form-group col-md-5">
                        <input class="form-control" name="nome" />
                    </div>
                </div>


                <div class="col py-3 px-lg-10" style="text-align: right;">
                    <div class="form-group">
                        <input type="submit" value="Pesquisar" class="btn btn-primary btn-sm" />
                    </div>
                </div>
               
            </div>
        </div>

 

        <hr />

        <div class="col-md-12">
            <div class="row">

                <div class="col-sm" style="text-align: right;">
                    <div class="form-group">
                        <a onclick="showInPopup('@Url.Action("CreateEmployee","Employee",Context.Request.Scheme)','New Employee')" class="btn btn-primary"><i class="fas fa-random">New Employee</i></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


<div class="table-responsive">



<table class="table" id="depTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataContratado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor:pointer;" onclick="showInPopup('@Url.Action("UpdateEmployee","Employee",new {id=item.IdFunc},Context.Request.Scheme)','Update Employee')">

                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.turno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataContratado)
                </td>
            </tr>
        }
    </tbody>
</table>



</div>


@*@await Component.InvokeAsync("CadastroModal")*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}